.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    background-color: white;
    border-width: 1px;
    border-radius: 7px;
    margin: 8px;
    padding: 10px;
}

.img {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 25px;
    margin-bottom: 25px;
    margin-top:10px;
    color: #000;
}

.subtitle {
    margin: 5px;
}

.botao {
    height: 40px;
    background: none;
    border-radius: 5px;
    border: 2px solid #4c89e3;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #4c89e3;
    transition: all 0.5s;
}
.botao:hover {
    background: #4c89e3;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 100%;
    height: 70px;
    background-color: #4c89e3;
    color: white;
}

header:hover{
    color: #ddd;
    cursor: pointer;
    transition: all 0.5s;
}
